body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    height: 100vh;
}

.square{
    background: hsl(0, 0%, 100%);
    display: flex;
    width: 500px;
    border-radius: 5px;
   
    
    
}

.img {
    height: 375px;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
}

.info {}

.info { 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
        
}

.add{
    color:hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing:0.3em;
    font-size: 11px;
    margin: 0 20px ;

}

.title {
    color : hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 25px;
    margin: 0 20px ;
    
}

p {
    color:hsl(228, 12%, 48%);
    font-size: 15px;
    line-height: 20px;
    margin: 0 20px ;

}

.price {
    display: flex;
    align-items: center;
    margin: 0 20px ;

}

.new-price {
    color : hsl(158, 36%, 37%);
    font-size: x-large;
    font-weight: bold;

}

.old-price {
    color:hsl(228, 12%, 48%);
    padding-left: 20px;
    text-decoration: line-through;

}

button {
    border-radius: 5px;
    border: transparent;
    background: hsl(158, 36%, 37%) ;
    color: white;
    padding: 15px 0;
    margin: 0 25px;
}

button::before{
    content : "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: center center / 12px 12px no-repeat url(images/icon-cart.svg);
    vertical-align: middle;
    margin-right: 8px;

}


@media only screen and (max-width: 550px)  {

.square {
    flex-direction: column;
    width: 350px;
    
}



.info {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
}

.img {
    background-image: url(images/image-product-mobile.jpg) ;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
}

.square {
    height: 667px;
    width: 375px;
}




    
}